<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <button
      class="navbar-toggler expand-btn"
      type="button"
      data-toggle="collapse"
      data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
      <a
        class="navbar-brand brand px-5"
        href="#"
      >
        <img
          src="../../assets/logo.png"
          class="logo "
        >
      </a>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarTogglerDemo01"
    >
      <a
        class="navbar-brand brand d-none d-lg-block"
        href="#"
      >
        <img
          src="../../assets/logo.png"
          class="logo"
        >
      </a>
      <div class="ml-auto mt-5 mt-lg-0 menu-items">
        <ul class="navbar-nav">
          <li
            class="nav-item"
            routerLinkActive="active"
          >
            <a
              class="nav-link menu-item"
              [routerLink]="['/about']"
            >Despre noi</a>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
          >
            <a
              class="nav-link menu-item"
              [routerLink]="['/catalog']"
            >Servicii</a>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
          >
            <a
              class="nav-link menu-item"
              [routerLink]="['/blog']"
            >Blog</a>
          </li>
          <li
            class="nav-item"
            routerLinkActive="active"
          >
            <a
              class="nav-link menu-item"
              [routerLink]="['/contacts']"
            >Contact</a>
          </li>
          <li class="nav-item">
            <a
              [routerLink]="['/join']"
              class="btn btn-primary ml-0 ml-md-3 join-btn"
            >Fii parte!</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>