h1 {
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 1px;
  color: #14142B;
}

h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.hero-icon {
  position: absolute;
  right: 7%;
  top: 14%;
}

.hero-image {
  position: absolute;
  top: 50%;
  margin-left: -18px;
  width: 1128px;
}

.hero-container {
  margin: 0 5%;
}