<div class="container px-1 p-md-5 mt-0 mt-md-5">
  <img
    src="../../assets/hero-icon.png"
    class="d-none d-lg-block hero-icon"
  >
  <div class="hero-container">
    <p class="h1 hero-title text-center text-md-left">Cele mai tari companii <br>create de femei!</p>
    <p class="h4 hero-description text-center text-md-left">Peste 300 de companii, peste 1 milion de servicii</p>
  </div>

  <div class="hero-image">
    <img
      src="../../assets/hero-image.png"
      class="d-none d-md-block"
    >
  </div>
  <app-search></app-search>

</div>