<app-top-nav></app-top-nav>
<div class="my-4 my-md-5 container">
  <app-back
    url="/blog"
    title="Blog"
  >
  </app-back>
  <app-article-content
    title="De ce am decis să fondez o platformă online a femeilor antreprenoare din Republica Moldova"
    image="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
    [content]="content"
    date="May 20th 2020"
  ></app-article-content>

  <div class="mt-5 line"></div>
  <h3 class=" mt-5 header">Articole Similare</h3>
  <div class="mt-3 d-flex flex-wrap recommended">
    <app-blog-card
      title="Display a realy long title of a blog post goes here"
      image="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
      content="It is a long established fact that a reader will be distracted by the readable content of a page when looking
                at its layout"
      date="May 20th 2020"
    ></app-blog-card>
    <app-blog-card
      title="Display a realy long title of a blog post goes here"
      image="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
      content="It is a long established fact that a reader will be distracted by the readable content of a page when looking
                    at its layout"
      date="May 20th 2020"
    ></app-blog-card>
    <app-blog-card
      title="Display a realy long title of a blog post goes here"
      image="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80"
      content="It is a long established fact that a reader will be distracted by the readable content of a page when looking
                    at its layout"
      date="May 20th 2020"
    ></app-blog-card>
  </div>
</div>
<app-footer></app-footer>