<app-top-nav></app-top-nav>
<div class="container">
  <h3 class="services-heading my-5">Catalog Servicii</h3>
  <div class="row my-5">
    <div class="col-3">
      <app-filter></app-filter>
    </div>
    <div class="col-8 ml-5">
      <app-service-search></app-service-search>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <app-service-card
        image="../../../assets/card-logo.png"
        title="Floral Soul"
        content="Floral Soul te va ajuta să găsești plantele potrivit spațiului tău, le va amenaja și va avea grijă de ele."
        [tags]="tags"
      ></app-service-card>
      <div class="text-center pagination">
        <app-pagination></app-pagination>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>