<div
  class="card"
  style="width: 240px;border: none;"
>
  <img
    class="card-img-top"
    src="{{image}}"
    alt="Card image cap"
    width="50"
  >
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-mini">{{domain}}</p>
      </div>
      <div class="col text-right">
        <img
          src="{{logo}}"
          width="62"
        >
      </div>
    </div>
    <p class="card-text">{{description}}</p>
  </div>
</div>