<div class="pagination mt-5 pages-container">
  <nav aria-label="Page navigation example">
    <ul class="pagination custom-pagination">
      <li class="page-item disabled"><a
          class="page-link"
          href="#"
        >Anterioara</a></li>
      <li class="page-item"><a
          class="page-link active-page"
          href="#"
        >1</a></li>
      <li class="page-item disabled"><a
          class="page-link"
          href="#"
        >Ultima pagina</a></li>
    </ul>
  </nav>
</div>