<a
  [routerLink]="['/catalog', id]"
  style="text-decoration: none;"
>
  <div class="d-flex flex-column flex-md-row service-card mt-3">
    <div class="m-4 text-center">
      <img
        src="{{image ? image : '../../../../../../assets/default-logo.png'}}"
        width="50px"
      >
    </div>

    <div class="my-2 p-2">
      <h5 class="title">{{title}}</h5>
      <p class="content">{{content}}</p>
      <ul
        *ngIf="tagList"
        class="tag-list"
      >
        <li class="mr-2"><span class="badge badge-primary tag tag-orange">{{tagList[0]}}</span></li>
        <li class="mr-2"><span class="badge badge-primary tag tag-blue">{{tagList[1]}}</span></li>
        <li class="mr-2"><span class="badge badge-primary tag tag-green">{{tagList[2]}}</span></li>
      </ul>
    </div>
  </div>
</a>