<div class="mt-5 search-container">
  <div class="ml-0 ml-md-4 ml-lg-5 d-flex">
    <div class="m-1 search-input">
      <span
        class="p-input-icon-right"
        style="width: 100%;"
      >
        <i
          class="pi pi-search"
          style="font-size: 1.4rem;color: #ffffff;"
        ></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="value1"
          placeholder="Cauta de ex. Marketing"
          class="hero-search"
        >
      </span>
    </div>

    <div class="ml-1 d-none d-lg-block">
      <p class="explore pt-4 px-2">Sa ne cunoastem mai bine <img
          src="../../../assets/arrow.png"
          style="width: 16px; height: 16px;"
          class="m-1"
        ></p>
    </div>
  </div>

</div>