<div class="search-container">
  <div class="row">
    <div class="col-12 col-md">
      <input
        type="text"
        placeholder="Cauta de ex. Marketing"
        class="hero-search"
      />
      <img
        src="../../../assets/Search.png"
        class="search-icon"
      >
    </div>
    <div class="col d-none d-md-block">
      <p class="explore pt-3 px-3">Sa ne cunoastem mai bine <img
          src="../../../assets/arrow.png"
          style="width: 16px; height: 16px;"
          class="m-1"
        ></p>
    </div>
  </div>
</div>