.hero-search {
  background-color: #51289C;
  border-radius: 4px;
  width: 100%;
  max-width: 648px;
  height: 80px;
  border: none;
  outline: none;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #DED3FF;
  padding: 0px 20px;
  z-index: 1;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #DED3FF;
}

.explore {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #4E4B66;
}

.explore-container {
  display: flex;
  align-items: flex-end;
}


.search-input {
  width: 100%;
  max-width: 648px;
}

@media (min-width:641px)  { 
 .search-input {
    width: 100%;
    max-width: 568px;
  }
}