
.blog-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #51289C;
}


.cards {
  justify-content: start;
}

@media only screen and (max-width: 600px){
 .cards {
    justify-content: center!important;
  }
}
