input {
  background: #F7F7FC;
  border: 1px solid #D6D8E7;
  box-sizing: border-box;
  border-radius: 4px;
  width: 800px;
  height: 80px;
  padding: 26px;
  position: relative;
  margin-left: -15px;
}

.icon {
  position: absolute;
  top: 27px;
  right: -23px;
}