<app-top-nav></app-top-nav>
<div class="mt-5 row text-center">
  <div class="col">
    <img
      src="../../assets/Left side.png"
      alt=""
    >
  </div>
  <div class="col">
    <h5 class="mt-5 about-heading">Despre noi</h5>
    <h4 class="mt-4 about-subheading">We built a community for creators like you</h4>
    <p class="mt-5 about-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua
      dolor do
      amet sint. Velit officia consequat duis enim velit mollit.
    </p>
    <p class="about-text">
      Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor.
    </p>
  </div>
  <div class="col">
    <img
      src="../../assets/Right side.png"
      alt=""
    >
  </div>
</div>
<app-partners></app-partners>
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>