.about-heading{
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #51289C;
}

.about-subheading{
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #000000;
}

.about-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #000000;
}