<div class="filter-item">
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapseMarketing"
    role="button"
    aria-expanded="false"
    aria-controls="collapseMarketing"
  >
    Marketing

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="py-2 collapse"
    id="collapseMarketing"
  >
    <p-listbox
      [options]="marketing"
      checkbox="true"
      multiple="true"
      [(ngModel)]="selectedValues"
      (onClick)="filter($e)"
    ></p-listbox>
  </div>
</div>
<div class="line my-3"></div>
<div>
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapseRating"
    role="button"
    aria-expanded="false"
    aria-controls="collapseRating"
  >
    Rating

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="collapse"
    id="collapseRating"
    class="py-2"
  >
    <p-listbox
      [options]="rating"
      checkbox="true"
      multiple="true"
      [(ngModel)]="selectedValues"
      (onClick)="filter($e)"
    ></p-listbox>
  </div>
</div>
<div class="line my-3"></div>
<div>
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapsePayment"
    role="button"
    aria-expanded="false"
    aria-controls="collapsePayment"
  >
    Payment

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="collapse"
    id="collapsePayment"
    class="py-2"
  >
    <p-listbox
      [options]="payment"
      checkbox="true"
      multiple="true"
      [(ngModel)]="selectedValues"
      (onClick)="filter()"
    ></p-listbox>
  </div>
</div>