<div class="filter-item">
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapseMarketing"
    role="button"
    aria-expanded="false"
    aria-controls="collapseMarketing"
  >
    Marketing

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="collapse"
    id="collapseMarketing"
  >
    <div class="pt-3">
      <p>
        <input type="checkbox" /> SMM
      </p>
      <p>
        <input type="checkbox" /> Email
      </p>
      <p>
        <input type="checkbox" /> Printing
      </p>
      <p>
        <input type="checkbox" /> Branding
      </p>
      <p>
        <input type="checkbox" /> PR
      </p>
      <p>
        <input type="checkbox" /> Media
      </p>
      <p>
        <input type="checkbox" /> Design
      </p>
      <p>
        <input type="checkbox" /> Consulting
      </p>
    </div>
  </div>
</div>
<div class="line my-3"></div>
<div>
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapseRating"
    role="button"
    aria-expanded="false"
    aria-controls="collapseRating"
  >
    Rating

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="collapse"
    id="collapseRating"
  >
    <div class="pt-3">
      <p>
        <input type="checkbox" /> Super 9+
      </p>
      <p>
        <input type="checkbox" /> Very good 8+
      </p>
      <p>
        <input type="checkbox" /> Good 7+
      </p>
      <p>
        <input type="checkbox" /> Pleasant 7+
      </p>
    </div>
  </div>
</div>
<div class="line my-3"></div>
<div>
  <a
    class="filter-btn"
    data-toggle="collapse"
    href="#collapsePayment"
    role="button"
    aria-expanded="false"
    aria-controls="collapsePayment"
  >
    Payment

    <div class="filter-icon"><svg
        width="12"
        height="7"
        viewBox="0 0 12 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10.6666 1L6.02451 5.64212L1.3824 1"
          stroke="#4E4B66"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
  </a>
  <div
    class="collapse"
    id="collapsePayment"
  >
    <div class="pt-3">
      <p>
        <input type="checkbox" /> Pre-Payment
      </p>
      <p>
        <input type="checkbox" /> Post-Payment
      </p>
      <p>
        <input type="checkbox" /> Free Consultation
      </p>
      <p>
        <input type="checkbox" /> After Delivery
      </p>
    </div>
  </div>
</div>