.partners-container {
  margin: 20% 9% 9%;
  position: relative;
}

.section-header {
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #14142B;
}

.section-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #14142B;
}

.leaf {
  position: absolute;
  top: 180px;
  left: 100px;
  z-index: -1;
}

.leaf2 {
  position: absolute;
  top: -56px;
  left: 296px;
  z-index: -1;
}

.leaf2svg {
  width: 780px;
}

@media only screen and (max-width: 600px) {
  .section-header {
    font-size: 24px!important;
  }

  .partners-container {
    margin: 9%!important;
  }
}

@media only screen and (max-width: 1024px) {
  .leaf2svg {
    width: 570px!important;
  }
  .leaf { 
    top: 164px!important;
  }

  .leaf2 { 
    top: 15px;
  }
}