.navbar {
  background-color: #ffffff!important;
  border-bottom: 1px solid #EFF0F7;
}

.logo {
  width: 100px;
}

.menu-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color:  #51289C!important;
  background-color: transparent;
  text-decoration: none;
  margin: 0 10px;
}

.active {
  background: #F7F7FC!important;
  border-radius: 4px;
  border: none;
  height: 43px
}

.join-btn {
  font-weight: 600; 
  background-color: #196096;
  border: none;
  padding: 10px 33px;
  border-radius: 6px;
  width: 143px;
  height: 48px;
  margin-left: 43px;
}

.expand-btn {
  outline: none;
  border: none;

}

.expand-container {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  align-items: center;
}