.hero-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 1px;
  color: #14142B;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.hero-icon {
  position: absolute;
  right: 7%;
  top: 14%;
  width: 370px;
  z-index: -1;
}

.hero-image {
  margin-top: -3%;
  margin-left: -18px;
  width: 100%;
}

.hero-image >img {
  width: 100%;
}

 /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media only screen and (max-width:641px)  { 
  
  .hero-title {
    font-size: 36px!important;
    line-height: 54px;
   }
   
  .hero-image  {
    margin-left: 0!important;
  }  
 }

 /* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
.hero-icon {
  opacity: .8;
}
  .hero-title {
    font-size: 34px!important;
   }

   .hero-description {
     font-size: 18px!important;
     line-height: 34px!important;
   }


 }

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) { 
  .hero-icon {
  opacity: 1!important;
}
  .hero-title {
    font-size: 44px!important;
    line-height: 74px;
   }
 }

/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 
    .hero-title {
      line-height: 74px!important;
   }
}

.hero-container {
  margin: 0 5%;
}