
.specialist-content {
  margin: 8% 9% 2%;
}
.specialist-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  letter-spacing: 1px;
  color: #14142B;
}

.specialist-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #14142B;
}

.specialist-link {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #51289C;
}

