<div class="container specialists-container mb-5">
  <div class="specialist-content">
    <h3 class="specialist-header">Cei mai buni specialiști!</h3>
    <div class="row">
      <div class="col-8 specialist-description">
        <p>Peste 300 de companii, peste 1 milion de tipuri de servicii</p>
      </div>
      <a
        [routerLink]="['/catalog']"
        style="text-decoration: none;"
      >
        <div class="col-4 text-right specialist-link">Vezi toți specialiștii <img
            src="../../../assets/back-arrow.png"
            width="16px"
          >
        </div>
      </a>
    </div>
  </div>
  <div class="container">
    <p-carousel
      [value]="companies"
      [numVisible]="4"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template
        let-company
        pTemplate="item"
      >
        <app-specialists-card
          title="{{company.name}}"
          domain="{{company.owner}}"
          image="../../../assets/card-image.png"
          logo="../../../assets/card-logo.png"
          description="{{company.description}}"
        >
        </app-specialists-card>
      </ng-template>
    </p-carousel>
  </div>
</div>