<div class="container specialists-container mb-5">
  <div class="specialist-content">
    <div
      class="d-flex flex-column"
      style="align-items: flex-start; justify-content: space-between;"
    >
      <h3 class="specialist-header">Membrele comunității Izarra</h3>
      <a
        [routerLink]="['/catalog']"
        style="text-decoration: none;"
        class="mt-3"
      >
        <div class="text-right specialist-link">Vezi toate antreprenoarele<img
            src="../../../assets/back-arrow.png"
            width="16px"
          >
        </div>
      </a>
    </div>
  </div>
  <div class="container">
    <p-carousel
      [value]="companies"
      [numVisible]="4"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="3000"
      [circular]="true"
      [styleClass]="specialist-carousel"
    >
      <ng-template
        let-company
        pTemplate="item"
      >
        <app-specialists-card
          id="{{company._id}}"
          title="{{company.name}}"
          domain="{{company.owner}}"
          image="{{company.image}}"
          logo="{{company.logo}}"
          description="{{company.description}}"
        >
        </app-specialists-card>
      </ng-template>
    </p-carousel>
  </div>
</div>