<div class="container specialists-container mb-5">
  <div class="specialist-content">
    <h3 class="specialist-header">Cei mai buni specialisti!</h3>
    <div class="row">
      <div class="col-8 specialist-description">
        <p>Peste 300 de companii, peste 1 milion de tipuri de serviciu</p>
      </div>
      <div class="col-4 text-right specialist-link">Vezi toti specialistii <img
          src="../../../assets/back-arrow.png"
          width="16px"
        >
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-specialists-card
        title="Floral Soul"
        domain="Decor Oficii"
        image="../../../assets/card-image.png"
        logo="../../../assets/card-logo.png"
        description="Posibil cea mai buna echipa care inverzeste oficii si case repede si cu gust!"
      ></app-specialists-card>
    </div>
    <div class="col m-0">
      <app-specialists-card
        title="Floral Soul"
        domain="Decor Oficii"
        image="../../../assets/card-image.png"
        logo="../../../assets/card-logo.png"
        description="Posibil cea mai buna echipa care inverzeste oficii si case repede si cu gust!"
      ></app-specialists-card>
    </div>
    <div class="col">
      <app-specialists-card
        title="Floral Soul"
        domain="Decor Oficii"
        image="../../../assets/card-image.png"
        logo="../../../assets/card-logo.png"
        description="Posibil cea mai buna echipa care inverzeste oficii si case repede si cu gust!"
      ></app-specialists-card>
    </div>
    <div class="col">
      <app-specialists-card
        title="Floral Soul"
        domain="Decor Oficii"
        image="../../../assets/card-image.png"
        logo="../../../assets/card-logo.png"
        description="Posibil cea mai buna echipa care inverzeste oficii si case repede si cu gust!"
      ></app-specialists-card>
    </div>
  </div>
</div>