<app-top-nav></app-top-nav>

<div class="row">
  <div class="col-12 col-lg-4 contacts-container">
    <h3 class="contact-heading mb-4">Contacte</h3>
    <p class="contact-text">Need a hand? Or a high five? <br>Here’s how to reach us:</p>
    <h5 class="contacts-subheading mt-4">Email:</h5>
    <p class="contact-text">izarra@gmail.com</p>
    <h5 class="contacts-subheading  mt-4">Phone:</h5>
    <p class="
      contact-text">+373 765 99 556</p>
    <h5 class="contacts-subheading  mt-4">Adress</h5>
    <p class="
        contact-text">str. M. Eminescu 24, Chisinau</p>


  </div>
  <div class="col-12 col-lg-6 email-container">
    <h3 class="contact-heading mb-4">Get in touch about everything:</h3>
    <input
      type="text"
      placeholder="Full Name"
      class="email-input my-3"
    >
    <input
      type="text"
      placeholder="Email"
      class="email-input my-3"
    />
    <div style="z-index: 1111;">
      <textarea
        placeholder="Your Message"
        class="email-input message-input my-3"
      ></textarea>
    </div>
    <button class="btn send-btn mt-3">Trimite</button>
  </div>

</div>

<img
  src="../../assets/hero-icon.png"
  class="d-none d-lg-block contact-icon"
>
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>