.contact-heading{
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #51289C;
}

.contact-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #000000;
}

.contact-subheading{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #000000;
}

.contacts-container {
  margin-left: 8%;
  padding: 5% 8%;
}

.email-container{
  min-width: 60%;
  height: 612px;
  background: #F7F7FC;
  padding: 5% 7.3%;
}

.email-input {
  background: #FFFFFF;
  border: 2px solid #D6D8E7;
  box-sizing: border-box;
  border-radius: 4px;
  width: 456px;
  height: 64px;
  padding: 18px 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  color: #A0A3BD;
  outline: none;
}

::placeholder{
  color: #A0A3BD;
}

.message-input {
  height: 154px;
  position: relative;
}

.contact-icon {
  position: absolute;
  width: 379.48px;
  height: 405.9px;
  right: 2%;
  top: 306px;
  z-index: 0;
}

.send-btn {
  background: #51289C;
  border-radius: 4px;
  width: 143px;
  height: 56px;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
}

.success-alert {
      font-family: 'Poppins';
    background-color: #E0EFFB;
    text-align: center;
}

.contacts {
  justify-content: space-between;
}


@media only screen and (max-width: 600px) {
.contacts-container{
    margin-left: 8%!important;
  }

  .email-container {
    max-width: 100%;
  }

  .email-input {
    width: 274px;
  }
}

@media only screen and (max-width: 1025px) {
  .contacts-container{
    padding: 5% 0!important;
    margin-left: 4.8%;
  }

  .contact-icon {
    width: 260px;
    height: 260px;
    right: 2%;
    top: 420px;
  }
}

@media only screen and (min-width: 1025px) {
  .contacts-container{
    padding: 5% 6.5%!important;
    margin-left:8%;
  }
}

@media only screen and (min-width: 1605px) {
  .contacts-container{
    padding: 5% 3% 0% 9% !important;
    margin-left: 8%;
  }
}