<app-top-nav></app-top-nav>
<div
  class="alert success-alert alert-dismissible fade show"
  role="alert"
  *ngIf="sended"
>
  <strong>Mesajul tău a fost trimis.</strong> În scurt timp comunitatea Izarra vă va contacta.
  <button
    type="button"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="d-flex flex-column flex-lg-row mb-5 mb-lg-0 contacts">
  <div class="contacts-container">
    <h3 class="contact-heading mb-4">Contact</h3>
    <p class="contact-text">Ai o nelămurire sau pur și simplu vrei <br>să ne spui mai multe despre tine?
      <br>Hai să ne cunoaștem.</p>
    <h5 class="contacts-subheading mt-4">Email:</h5>
    <p class="contact-text"><a
        href="mailto: olga.graurr@gmail.com"
        style="text-decoration: none; color: black;"
      >olea.graurr@gmail.com</a></p>
    <h5 class="contacts-subheading  mt-4">Telefon:</h5>
    <p class="
      contact-text"><a
        href="tel:+373 60 754 123"
        style="text-decoration: none; color: black;"
      >+373 60 754 123</a></p>
    <h5 class="contacts-subheading  mt-4">Adresa:</h5>
    <p class="
        contact-text">str. 31 August 78, Chisinau</p>
  </div>
  <div class="email-container">
    <div>
      <!-- <img
        src="../../assets/hero-icon.png"
        class="d-none d-lg-block contact-icon"
      > -->
      <h3 class="contact-heading mb-4">Lasă-ne un mesaj și te contactăm noi:</h3>
      <input
        type="text"
        placeholder="Nume Prenume"
        class="email-input my-3"
        [(ngModel)]="name"
      >
      <input
        type="text"
        placeholder="Email"
        class="email-input my-3"
        [(ngModel)]="email"
      />
      <div style="z-index: 999999;">
        <textarea
          placeholder="Mesajul"
          class="email-input message-input my-3"
          [(ngModel)]="text"
        ></textarea>
      </div>
      <button
        class="btn send-btn mt-3"
        (click)="send()"
      >Trimite</button>
    </div>
  </div>

</div>

<app-footer-hero></app-footer-hero>
<app-footer></app-footer>