<div class="specialist-card">
  <a
    [routerLink]="['/catalog', id]"
    style="text-decoration: none;"
  >
    <img
      class="card-img-top specialist-image"
      src="{{image ? image : '../../../../../../assets/default-logo.png'}}"
      alt="Card image cap"
    >
    <div class="card-body">
      <div
        class="d-flex flex-row"
        style="justify-content: space-between;"
      >
        <div>
          <h5 class="card-title">{{title}}</h5>
          <p class="card-mini">{{domain}}</p>
        </div>
        <div class="m-1 text-right">
          <img
            src="{{logo}}"
            class="special-logo"
          >
        </div>
      </div>
      <p class="card-text">{{description}}</p>
    </div>
  </a>
</div>