<div class="specialist-card">
  <img
    class="card-img-top"
    src="{{image}}"
    alt="Card image cap"
  >
  <div class="card-body">
    <div
      class="d-flex flex-row"
      style="justify-content: space-evenly;"
    >
      <div class="m-2">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-mini">{{domain}}</p>
      </div>
      <div class="m-1 text-right">
        <img
          src="{{logo}}"
          class="special-logo"
        >
      </div>
    </div>
    <p class="card-text">{{description}}</p>
  </div>
</div>