<app-top-nav></app-top-nav>
<div class="mt-3 mt-lg-5 d-flex flex-row about-content">
  <div class="d-none d-lg-block">
    <img src="../../assets/Left side.png">
  </div>
  <div class="mx-3 m-lg-0 text-center about-text-container">
    <h5 class="mt-2 mt-lg-5 about-heading">Despre noi</h5>
    <h4 class="mt-2 mt-md-4 about-subheading">We built a community for creators like you</h4>
    <p class="mt-1 mt-md-5 about-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua
      dolor do
      amet sint. Velit officia consequat duis enim velit mollit.
    </p>
    <p class="about-text">
      Exercitation veniam consequat sunt nostrud amet.Amet minim mollit non deserunt ullamco est sit aliqua dolor.
    </p>
  </div>
  <div class="d-none d-lg-block">
    <img src="../../assets/Right side.png">
  </div>
</div>
<app-partners></app-partners>
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>