<app-top-nav></app-top-nav>
<div class="my-3 my-lg-5 d-flex flex-row about-content">
  <div class="d-none d-lg-block">
    <img src="../../assets/Left side.png">
  </div>
  <div class="mx-3 m-lg-0 text-center about-text-container">
    <h5 class="mt-2 mt-lg-5 about-heading">Despre noi</h5>
    <p class="mt-1 mt-md-5 about-text">
      Izarra este portița pe care vrem să o deschidem pentru femeile antreprenor care își doresc să facă parte dintr-o
      comunitate puternică. Noi credem că totul este posibil atunci când femeile cooperează și se bucură de sprijin.
      Misiunea
      Izarra este de a construi, în timp, cea mai vastă și robustă rețea de antreprenoare cu acces la servicii de
      calitate și
      conținut educativ. Vom amplifica vocile femeilor prin manifestarea ambițioasă a afacerilor lor și vom întări
      egalitatea
      economică împreună.

    </p>
    <p class="about-text">
      Alătură-te comunității Izarra și cunoaște noi colegi, mentori și potențiali investitori, parteneri sau chiar
      cofondatori.
    </p>
  </div>
  <div class="d-none d-lg-block">
    <img src="../../assets/Right side.png">
  </div>
</div>
<!-- <app-partners></app-partners> -->
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>