.footer-container {
    background: url('https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 484px;
    position: absolute;
    z-index: -1;
}

.footer-mask {
  background-color: rgba(81,40,156,1);
  width: 100%;
  height: 484px;
  z-index: 0;
  opacity: .8;
}

.footer-hero-content {
  z-index: 99999;
  color: white;
  padding: 5% 6%;
}

.footer-heading {
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */
  text-align: center;
  letter-spacing: 1px;

}

.feat {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: 'liga' off;
  display: flex;
  align-items: center;
}

.catalog-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: 0.75px;

  /* Primary / Purple */
  color: #51289C;
  background-color: #fff!important;
  padding: 14px 27px;
}

.feature-list {
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 900px){
  .footer-container {
    background: none!important;
    height: 120px!important;
  }
  .footer-hero-content{
    padding: 0!important;
  }

  .catalog-btn {
    background-color: #51289C!important;
    color: #fff!important;
   }

}

@media only screen and (max-width: 968px){
  .footer-container {
    background: url('https://s3-alpha-sig.figma.com/img/da88/02db/6fee6396163ef1816af0808bc73eb970?Expires=1604880000&Signature=MKAQia9n-NW8PGy2mLIJBkRfkuHxT-ijtA9G0nEAzMRrVIoNTLNCf~Bu9V7xZWT3emlSM-bOBKVfKuq8Y6e6UBszgebLJeg6FnybjxXsXgtBvjQRxCHiCyubMDzgQ42RLZIqjcthVs-rsuzcJpuoVmf-CE5F1mVRfMlpzZrQ~98Q5nFX4noCo5Lz7wHj366RthgvuYEqPk8eZ-J87U~exayf6GWF0eQmWp3T4Nzb9cutQ5IQfn2siA7LbvO57jaxfHe8YeCBEhLALrwfUfIoix~X9tZq~xZHjSsG97a3AHpVV23zDvxh70-1Gshzv~8C8ZsZFjcwtUXH8u979oxpnA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA') no-repeat center center;
    height: 482px;
    background-size: cover;
  }
}

@media only screen and (max-width: 1200px){
.footer-mask,
  .footer-container {
    height: 424px!important;
  }
}

@media only screen and (max-width: 1440px){
  .footer-mask,
  .footer-container {
    height: 462px!important;
  }
}

@media only screen and (max-width: 2560px){
.footer-mask,
  .footer-container {
    height: 520px;
  }
}