.leaf-image {
  position: absolute;
  left: 9.2%;
  z-index: -1;
}

.features-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.card-content {
  background-color: #FFFFFF;
  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 24px;
  margin: -24px 24px 0;
  z-index: 12;
}

.card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
}

.card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #14142B;
}

.card-button {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  padding: 10px 27px;
  background: #51289C;
  color:#ffffff;
  border-radius: 4px;
}

.join-btn {
  background:#196096;

}

.featured-container {
  #second{
    background: #196096;
  }
}

.card-image {
  width: 100%;
  position: relative;
  z-index: -1;
}

@media (min-width:400px) { 
   .card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .card-content {
    margin: 0;
  }
}

/* hi-res laptops and desktops */ 
@media (min-width:1024px) { 
  .features-container {
    flex-direction: row;
  }

  .card-content {
    padding: 24px!important;
    margin: -24px 24px 0!important;
  }
}

/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  { 
  .features-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
}


/* hi-res laptops and desktops */ 
@media (min-width:1281px) { 
  .features-container {
    flex-direction: row;
  }
}

