<app-top-nav></app-top-nav>
<img
  src="../../assets/leaf.png"
  class="d-none d-lg-block leaf-image"
>
<app-hero></app-hero>
<app-experience></app-experience>
<div class="container d-flex flex-column flex-md-row">
  <div class="m-3 text-center card-container">
    <img
      src="../../assets/Izzara-01.png"
      class="m-2 m-md-0 card-image"
    >
    <div class="card-content">
      <h5 class="card-title">Gasește un furnizor de incredere</h5>
      <p class="card-description">Bucură-te de acces la o bază de date de companii verificate și o comunitate vastă de
        antreprenoare. Comunică direct pe
        platformă folosind contul tău Gmail.</p>
      <a
        class="btn card-button"
        [routerLink]="['/catalog']"
      >Găsește companii</a>
    </div>
  </div>
  <div class="m-3 text-center card-container">
    <img
      src="../../assets/Izzara-02.png"
      class="m-2 m-md-0 card-image"
    >
    <div class="card-content">
      <h5 class="card-title">Spune lumii despre afacerea ta!</h5>
      <p class="card-description">Ai prilejul de a te reuni cu femei implicate în business și ai posibilitatea să
        contactezi furnizori atent selecționați.
        Creează-ți o prezență online.<br>&nbsp;</p>
      <a
        class="btn card-button"
        [routerLink]="['/join']"
        style="background: #196096;"
      >Fii parte din comunitate</a>
    </div>
  </div>
</div>
<app-specialists></app-specialists>
<!-- <app-partners></app-partners> -->
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>