<div class="footer-container">
  <div class="container">
    <ul class="menu-list">
      <li class="d-block d-md-inline"><a href="/about">Despre noi</a></li>
      <li class="d-block d-md-inline"><a href="/catalog">Servicii</a></li>
      <li class="d-block d-md-inline"><a href="/blog">Blog</a></li>
      <li class="d-block d-md-inline"><a href="/contacts">Contacte</a></li>
      <li class="d-block d-md-inline"><a href="#">Fii parte</a></li>
      <li class="d-block d-md-inline trademark">©2020. Toate drepturile rezervate</li>
      <li class="d-block d-md-inline contacts">+373 70 654123</li>
      <li class="d-block d-md-inline contacts">Linkedin</li>
      <li class="d-block d-md-inline contacts">Facebook</li>
    </ul>
  </div>
</div>