.footer-container{
  background-color: #14142B;
  color: #D6D8E7;
  margin: 0!important;
  height: 100%;
  padding: 8px 50px 0 50px;
  margin: 0 auto;
  justify-content: center;

  ul {
    display: unset;
    justify-content: center;
  }
}

.menu-list li{
  display: inline;
  margin: 0 15px;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.75px;
  a {
    color: #D6D8E7;
    text-decoration: none;
  }
}

.trademark {
  color: #6E7191!important;
}

.contacts {
  font-weight: 600!important;
  font-size: 14px!important;
  color: #F7F7FC!important;
}
@media only screen and (max-width: 600px) {
   .menu-list li {
    letter-spacing: 0.45px!important;
    font-size: 11px!important;
  }
}
@media only screen and (max-width: 900px){ 

  .footer-container > ul {
    justify-content: end!important;
    align-items: baseline!important;
  }
  
  .menu-list li {
    letter-spacing: 0.45px!important;
    font-size: 12px;
  }

  .footer-container {
    justify-content: start!important;
    padding: 8px 0px 0 20px!important;
  }
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width: 1440px) {
  .menu-list li {
    letter-spacing: 0.45px!important;
    font-size: 12px;
    margin: 8px;
  }
}