<div class="d-flex flex-row footer-container text-center">
  <ul class="p-2 d-flex flex-column flex-lg-row menu-list">
    <li class="m-0 px-md-1 px-lg-2"><a href="/about">Despre noi</a></li>
    <li class="m-0 px-md-1 px-lg-2"><a href="/catalog">Servicii</a></li>
    <li class="m-0 px-md-1 px-lg-2"><a href="/blog">Blog</a></li>
    <li class="m-0 px-md-1 px-lg-2"><a href="/contacts">Contacte</a></li>
    <li class="m-0 px-md-1 px-lg-2"><a href="#">Fii parte</a></li>
  </ul>
  <ul class="p-2 pl-3 pl-md-1 d-flex flex-column-reverse flex-lg-row menu-list">
    <li class="m-0 px-md-0 px-lg-2 trademark">©2020. Toate drepturile rezervate</li>
    <li class="m-0 px-md-0 px-lg-2 contacts">+373 70 654123</li>
    <li class="m-0 px-md-0 px-lg-2 contacts">Linkedin</li>
    <li class="m-0 px-md-0 px-lg-2 contacts">Facebook</li>
  </ul>
</div>