.review-card {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 4px;
}

.review-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
}

.review-author {
  font-weight: 600;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #18191F;
}

.review-company {
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #969BAB;
}