<app-top-nav></app-top-nav>

<div class="container">

  <h4 class="blog-header">Blog</h4>
  <div class="row">
    <div class="col">
      <div
        class="card"
        style="width: 18rem;"
      >
        <img
          src="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
          class="card-img-top"
          alt="..."
          height="170px"
        >
        <div class="card-body">
          <h5 class="card-title card-title">Display a realy long title of a blog post goes here</h5>
          <p class="card-text card-text">It is a long established fact that a reader will be distracted by the readable
            content of a
            page when looking at its layout
          </p>
          <p class="card-text card-date">May 20th 2020</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card"
        style="width: 18rem;"
      >
        <img
          src="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
          class="card-img-top"
          alt="..."
          height="170px"
        >
        <div class="card-body">
          <h5 class="card-title card-title">Display a realy long title of a blog post goes here</h5>
          <p class="card-text card-text">It is a long established fact that a reader will be distracted by the readable
            content of a
            page when looking at its layout
          </p>
          <p class="card-text card-date">May 20th 2020</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div
        class="card"
        style="width: 18rem;"
      >
        <img
          src="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
          class="card-img-top"
          alt="..."
          height="170px"
        >
        <div class="card-body">
          <h5 class="card-title card-title">Display a realy long title of a blog post goes here</h5>
          <p class="card-text card-text">It is a long established fact that a reader will be distracted by the readable
            content of a
            page when looking at its layout
          </p>
          <p class="card-text card-date">May 20th 2020</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div
          class="card"
          style="width: 18rem;"
        >
          <img
            src="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            class="card-img-top"
            alt="..."
            height="170px"
          >
          <div class="card-body">
            <h5 class="card-title card-title">Display a realy long title of a blog post goes here</h5>
            <p class="card-text card-text">It is a long established fact that a reader will be distracted by the
              readable
              content of a
              page when looking at its layout
            </p>
            <p class="card-text card-date">May 20th 2020</p>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card"
          style="width: 18rem;"
        >
          <img
            src="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
            class="card-img-top"
            alt="..."
            height="170px"
          >
          <div class="card-body">
            <h5 class="card-title card-title">Display a realy long title of a blog post goes here</h5>
            <p class="card-text card-text">It is a long established fact that a reader will be distracted by the
              readable
              content of a
              page when looking at its layout
            </p>
            <p class="card-text card-date">May 20th 2020</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>