<app-top-nav></app-top-nav>

<div class="container my-5">

  <h4 class="mb-2 blog-header">Blog</h4>
  <div class="row">
    <div class="col-4">
      <app-blog-card
        title="Display a realy long title of a blog post goes here"
        image="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        content="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        date="May 20th 2020"
      ></app-blog-card>
    </div>

    <div class="col-4">
      <app-blog-card
        title="Display a realy long title of a blog post goes here"
        image="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        content="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        date="May 20th 2020"
      ></app-blog-card>
    </div>

    <div class="col-4">
      <app-blog-card
        title="Display a realy long title of a blog post goes here"
        image="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        content="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        date="May 20th 2020"
      ></app-blog-card>
    </div>
    <div class="col-4">
      <app-blog-card
        title="Display a realy long title of a blog post goes here"
        image="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        content="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        date="May 20th 2020"
      ></app-blog-card>
    </div>

    <div class="col-4">
      <app-blog-card
        title="Display a realy long title of a blog post goes here"
        image="https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA"
        content="It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout"
        date="May 20th 2020"
      ></app-blog-card>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="pagination mt-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination custom-pagination">
        <li class="page-item"><a
            class="page-link"
            href="#"
          >Anterioara</a></li>
        <li class="page-item"><a
            class="page-link"
            href="#"
          >1</a></li>
        <li class="page-item "><a
            class="page-link active-page"
            href="#"
          >2</a></li>
        <li class="page-item"><a
            class="page-link"
            href="#"
          >3</a></li>
        <li class="page-item"><a
            class="page-link"
            href="#"
          >...</a></li>
        <li class="page-item"><a
            class="page-link"
            href="#"
          >6</a></li>
        <li class="page-item"><a
            class="page-link"
            href="#"
          >Ultima pagina</a></li>
      </ul>
    </nav>
  </div>
</div>
<app-footer></app-footer>