
.blog-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #51289C;
}

.custom-pagination li>a{
  border:  none;
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
}

li> .active-page {
  font-weight: 600!important;
  font-size: 16px!important;
  line-height: 28px!important;
  color: #51289C!important;
}

.page-link:hover{
  background-color:  #ffffff!important;
}