.blog-back-button{
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #51289C;
}

.image {
  width: 100%;
  height: 370px;
  background-size: cover;
  position: relative;
  background: url("https://s3-alpha-sig.figma.com/img/ad0a/799a/af8275869c76290858e9f74872821d3e?Expires=1604880000&Signature=UWwlgB1vO9Q4MERDVG4-QNobrPuJkcTYIjNXQNA5ORmMOxXwmB0YTKKXDJqWgtHgu7CS7-ATePR~DwovuRgXXZTcmNq3LxF9VzX4xdxH9EeendUJMGJd9imfGaHCorRhZEvgmcSIrqyfulNhnyumXUxwA8Z2o23YuhTaIKNXqeoQv-dW1T-is2HZA1AoRSk73~vAp5kYHA3WkIjJYhB7yQ52PBBOWKBMscPjbEo-B0cbLbKgGwNdb4wvHg~iBIgwPgr18V3U78u1JjKj47CK39zUkSynpLOOHS1w4UmIG4ZoO38R-Un2hfRXF3IkU7FOdDunjaXAB2lMq9muVHxvpQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA") no-repeat center center;
}

.line {
  width: 100%;
  border: 1px solid #D6D8E7;
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.75px;
  color: #14142B;
}

@media only screen and (max-width: 600px) {
  .image {
    height: 10px!important;
  }
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 1px;
  color: #14142B;
}

.date {
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #6E7191;
}

p, li {
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
}

.image{
  width: 100%;
  height: 370px;
  border-radius: 4px;
  overflow: hidden;
  object-fit: cover;
}