<app-top-nav></app-top-nav>
<img
  src="../../assets/leaf.png"
  class="d-none d-lg-block leaf-image"
>
<app-hero></app-hero>
<app-experience></app-experience>
<div class="container features-container">
  <app-feature-card
    imageSrc="../../assets/card-1.png"
    title="Gaseste Un furnizor de incredere"
    description="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Exercitation veniam consequat sunt nostrud amet."
    btnTitle="Catalogul Companiilor"
  ></app-feature-card>
  <app-feature-card
    imageSrc="../../assets/card-2.png"
    title="Spune lumii despre afacerea ta!"
    description="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Exercitation veniam consequat sunt nostrud amet."
    btnTitle="Fii parte din comunitate"
  ></app-feature-card>
</div>
<app-specialists></app-specialists>
<app-partners></app-partners>
<app-footer-hero></app-footer-hero>
<app-footer></app-footer>