.service-detail-image{
  width: 100%;
  height: 404px;
}

.service-detail-icon{
  width: 86px;
  height: 81px;
}

.service-name{
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: #14142B;
}

.service-contacts{
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #14142B;
}

.service-details{
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  color: #14142B;
}

.offer-btn{
  background: #51289C;
  border-radius: 4px;
  padding: 10px 24px;
  color: #ffffff;
}

.service-details-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4E4B66;
}

.tag-list  li {
  float: left;
}
ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

.tag{
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.75px;
  color: #196096;
  border-radius: 2px;
  padding: 2px 8px;
}

.tag-orange {

  background-color: #FFF0D4;
}

.tag-blue{
  background-color: #D5F7FF;
}

.tag-green {
  background-color: #F3FDFA;
}

.company-description {
  margin-left: 8%;
}